*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;

}
input[type="number"]{
    -moz-appearance:textfield;

}
.custom-bg{
    background-color: rgb(255, 255, 255);
  }
  .custom-bg:hover{
      background-color: rgb(232, 241, 241);
  
  }
.box{
    border-top-color: aqua !important;
}